<footer class="footer fixed-bottom bg-dark">
  <div class="container">
    <div class="col item social py-2 text-center">
      <div
        *ngFor="let link of links"
        class="d-inline p-2 pr-3 pl-3 icon-container"
        [ngClass]="link.title"
      >
        <a
          [href]="link.url"
          class="social-link"
          [ngClass]="link.title"
          target="_blank"
        >
          <i class="bi" [ngClass]="link.icon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
