<div class="row contents">
  <div class="col">
    <div
      class="btn-toolbar"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <div class="btn-group mr-2" role="group" *ngFor="let num of numbers">
        <button
          type="button"
          class="btn btn-lg mt-1"
          [ngClass]="{
            'btn-outline-primary': isSudokuActive && num >= 1,
            'btn-outline-warning': isSudokuActive && num < 1,
            'btn-outline-secondary': !isSudokuActive
          }"
          (click)="fillCell(num)"
          [disabled]="!isSudokuActive"
        >
          {{ num === -1 ? "X" : num }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 contents">
  <div class="col">
    <div *ngIf="isSudokuActive">
      <h4>
        Mistakes
        <span
          class="badge ml-2"
          [ngClass]="{
            'badge-secondary': failCount <= 3,
            'badge-danger': failCount > 3
          }"
          >{{ failCount }}/5</span
        >
      </h4>
    </div>
    <div *ngIf="!isSudokuActive">
      <h4>Start a new Sudoku</h4>
    </div>
  </div>
</div>

<div class="row mt-2 contents">
  <div class="col">
    <button class="btn btn-primary btn-lg mr-2" (click)="onNewSudoku()">
      New Game
    </button>

    <button
      class="btn btn-lg mr-2"
      (click)="onSolve()"
      [disabled]="!isSudokuActive"
      [ngClass]="{
        'btn-primary': isSudokuActive,
        'btn-secondary': !isSudokuActive
      }"
    >
      Solve
    </button>

    <button
      class="btn btn-primary btn-lg"
      (click)="onHelp()"
      [disabled]="!isSudokuActive || helpLeft <= 0"
      [ngClass]="{
        'btn-primary': isSudokuActive,
        'btn-secondary': !isSudokuActive
      }"
    >
      Help
      <span class="badge badge-light" *ngIf="isSudokuActive">{{
        helpLeft
      }}</span>
    </button>
  </div>
</div>

<div class="row mt-2 contents">
  <div class="col ml-4">
    <div class="form-group">
      <input
        id="chkParticipants"
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="highlightParticipants"
        (click)="onParticipantsClick()"
      />
      <label class="form-check-label" for="chkParticipants"
        >Highlight Ranges</label
      >
    </div>
    <div class="form-group">
      <input
        id="chkSimiar"
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="highlightSimilarCells"
        (click)="onSimilarCellClick()"
      />
      <label class="form-check-label" for="chkSimiar"
        >Highlight Similar Cells</label
      >
    </div>
    <div class="form-group">
      <input
        id="chkShowAddress"
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showAddress"
        (click)="onShowAddressClick()"
      />
      <label class="form-check-label" for="chkShowAddress">Show Address</label>
    </div>
  </div>
</div>
